<html>

<head>
    <title>Wish List Detail</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="utf-8">
</head>

<body>
    <!--
   For item selected (item ID passed from the Dashboard), display users who added this product/item on their wish list.
    -->
    <h2></h2>

    <h2></h2>


            <a href="/dashboard">Home</a>
            <a href="/">Logout</a>

    <!--
    <form action='/goback' method='POST'>
        <div class="result">
            {% csrf_token %}

            <p> <label>Your Name: </label> {{ name }} </p>
            <p> <label>Dojo Location: </label> {{ location }} </p>
            <p> <label>Favorite Language: </label> {{ fave_language }} </p>
            <p> <label>Comment: {{ comment }} </p>

            <p> <input id="submit" type="submit" value="Go Back" name="submit"> </p>
        </div>
    </form>
     -->

    
</body>

</html>